* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 80px; /* '.push' must be the same height as 'footer' */
	
	
}
.footer{
	background #3333FF
	display flex
	justify-content center
	height 200px

}

footer
	margin-top 40px
	color white
