body
	margin 0 auto
	font-family Helvetica
	min-height 100vh
	line-height 1.5px

ul
	display flex

li	
	flex-direction row
	justify-content center
	list-style-type none
.a-header
	text-decoration none
	padding 1em
	color #3333FF
	background white
	margin-left 10px
	border-radius 5px
.a-header:hover
	background dodgerblue
	color white
	transition 400ms 

.header-h1
	padding 1em
	color white

.header-flex-container
	display flex
	flex-direction row
	justify-content center
	align-items center
	background #3333FF
	padding 1em

.header-flex-item
	flex-shrink 1


	
	
	

	

