.home-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  margin-top 25px
  margin-bottom 25px
}



.a-home {
  
  text-decoration none
  background: #3333FF;
  padding: 2em;
  margin-top: 10px;
  margin-bottom 10px
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-left 20px
  cursor: pointer
  border-radius 20px
}
.home-item
  margin-top 20px
  margin-bottom 20px

.a-home:hover
  background dodgerblue
  transition 400ms ease-in;
  
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

.slider { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
 
}

  





 
  

  